# Load All Files(.csv) to SQL Server Relational Database
## Extract Bulk Files Step (2) - to  Microsoft SQL Database

Loop through the file_list and download each .csv

    1) Loop through the "file_list" 
    2) open each zip file
    3) unzip the file
    4) extract .csv from each zip file
    5) remove zipped file before next iteration
    6) print execution time 
    7) Load into MS SQL Server Management Studio

In [1]:
#import dependencies
import pyodbc
import os
import time
import pyodbc
import pandas as pd
import csv
import zipfile

In [14]:
dbConnnect = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                            "Server=LAPTOP-BURU7IOO\SQLSERVER2019;"
#                             "Database=citibike;"
                            "Trusted_Connection=yes;"
                            "autocommit = True;") # autocommit=False by default

In [15]:
# To initialize a cursor:
dbCursor = dbConnnect.cursor()

In [16]:
# https://www.tutorialgateway.org/python-sql-create-db/
dbCursor.execute("select * from master.dbo.sysdatabases")
for x in dbCursor:
    print('Database =%r'%x[0])

Database ='master'
Database ='tempdb'
Database ='model'
Database ='msdb'
Database ='KinetEco'
Database ='LandonHotel'
Database ='WideWorldImporters'
Database ='citibike'

In [17]:
data = pd.read_sql("select * from [LandonHotel].[dbo].[Guests]",dbConnnect)
# data.head(2)

In [21]:
upload_table('tripdata','201306citibiketripdata', delim, dbCursor )

NameError: name 'delim' is not defined

In [20]:
def upload_table(path, filename, delim, dbCursor):
    """
    Function to upload flat file to sqlserver
    """
    tbl = filename.split('.')[0]
    cnt = 0
    with open (path + filename, 'r') as f:
        reader = csv.reader(f, delimiter=delim)
        for row in reader:
            row.pop() # can be commented out
            row = ['NULL' if val == '' else val for val in row]
            row = [x.replace("'", "''") for x in row]
            out = "'" + "', '".join(str(item) for item in row) + "'"
            out = out.replace("'NULL'", 'NULL')
            query = "INSERT INTO " + tbl + " VALUES (" + out + ")"
            dbCursor.execute(query)
            cnt = cnt + 1
            if cnt % 10000 == 0:
                dbCursor.commit()
        dbCursor.commit()
    print("Uploaded " + str(cnt) + " rows into table " + tbl + ".")

In [62]:
import csv
import os
from datetime import datetime

In [112]:
def reporting_period():
    table_name = filename[:4] + '_' + filename[4:6] + '_tripdata'
    as_of_date = filename[:4] + '-' + filename[4:6]
    print(as_of_date)

In [113]:
filename ='201306citibiketripdata.csv'
reporting_period()

2013-06

In [111]:
path='tripdata/'
filename ='201306citibiketripdata.csv'
# tbl = filename.split('.')[0]
table_name= filename.split('.')[0]
as_of_date = filename[:4] + '-' + filename[4:6] 
# '2013-06'

table_name = filename[:4] + '_' + filename[4:6] + '_tripdata'
# '2013_06_tripdata'
as_of_date

'2013-06'

In [90]:
data=pd.read_csv(path + filename)
list(data.columns.values)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [110]:
with open (path + filename,'r') as csvfile: 
    csv_reader = csv.reader(csvfile, delimiter = ",")
    as_of =reporting_period()
    as_of
    for row in csv_reader:
        row.pop() # can be commented out
        row = ['NULL' if val == '' else val for val in row]
        row = [x.replace("'", "''") for x in row]
        out = "'" + "', '".join(str(item) for item in row) + "'"
        out = out.replace("'NULL'", 'NULL')
        query = "INSERT INTO " + table_name + " VALUES (" +  as_of + out + ")"
        print(query)

'2013-06',

TypeError: can only concatenate str (not "NoneType") to str

In [ ]:
#df_op is the dataframe that needs to be written to database and test is the table name in database and col_name1, col_name2,... are the respective column names
dbCursor.fast_executemany = True
for row_count in range(0, df_op.shape[0]):
   chunk = df_op.iloc[row_count:row_count + 1,:].values.tolist()
   tuple_of_tuples = tuple(tuple(x) for x in chunk)
   dbCursor.executemany("insert into test" + " ([col_name1],   col_name2],[col_name3],[col_name4] values )",tuple_of_tuples)